<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Roda do robô -->
  <xacro:macro name="wheel" params="name parent xyz rpy">
    <link name="${name}">
      <visual>
        <geometry>
          <sphere radius="0.3"/>
        </geometry>
        <material name="black"/>
      </visual>

      <collision>
        <geometry>
          <sphere radius="0.3"/>
        </geometry>
      </collision>

      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="5"/>
        <inertia
          ixx="${(2/5) * 5.0 * (0.3*0.3)}"
          iyy="${(2/5) * 5.0 * (0.3*0.3)}"
          izz="${(2/5) * 5.0 * (0.3*0.3)}"
          ixy="0.0" ixz="0.0" iyz="0.0"/>
      </inertial>
    </link>

    <joint name="joint_${name}" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>
  </xacro:macro>

</robot>